@charset "UTF-8";
/* CSS Document */

#columns {
	float:left;
	height:100%;
}

#left_column {
	background-color:#CCC;
	border-radius:4px;
	box-shadow:1px 1px 1px #999;
	-moz-box-shadow:1px 1px 1px #999;
	-webkit-box-shadow:1px 1px 1px #999;
	float:left;
	margin:4px;
	padding:4px;
	width:150px;
}

#right_column {
	float:left;
	padding:4px;
	width:500px;
}

#products_table {
	float:left;
	width:500px;
}

select {
	width:100%;
}
